@font-face {
    font-family: test;
    src: url('Fonts/SHARJAH.OTF');
}
body{
    font-family: test;
    background-image: url(Images/backgroung\ image.png);
    /* هذا الكود يستخدم لالغاء السكرول السفلي */
    overflow-x: hidden;
}
#logo > img{
    height: 150px;
    width: 150px;
}
#logo{
    display: flex;
    justify-content: center;
}
.web-title{
    color: #8b2f2f;
    text-align: center;
}

.tabs{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 0 3px;
    /* هذا الكود ياخذ اللون من الخلفية  */
    background-color: transparent;
    /* نون لجعل الزر مخفي كالتاب */
    border: none;
    color: #8b2f2f;
    padding: 10px;
    /* تستخدم للحواف من فوق يمين ويسار  */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: 0.5s;
}
.btn-active , .btn:hover{
    /* الخلفية للازرار */
    background-color: #8b2f2f;
    /* لون الكتابه على الازرار */
    color: #fff;
    cursor: pointer;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.content-1 , .content-2 , .content-3{
    background-color: #8b2f2f;
    padding: 10px 5px 5px 5px;
    margin: 0 15px;
    border-radius: 5px;
    display: none;
    justify-content: space-evenly;
}
.cont-active{
    display: flex;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}
.img-box img{
    height: 75px;
    width: 75px;
}
.cont h4{
    text-align: center;
    color: #fff;
    margin: 0;
}
.cont{
    width: 100px;
}
footer{
    background-color: #8b2f2f;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}